.footer{
    background-color: black;
    color: white;
    font-size:medium;
    text-align: center;
    padding-top:15px;
    overflow-x: hidden;
}  

.footer p{
    font-family: 'Aldrich', sans-serif;

}