.Card{
    border: 1px solid rgba(255, 255, 255, 0.445);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(9px);
    box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.397);
    color: #f5f6fa;
    padding: 20px;
    font-family: 'Aldrich', sans-serif;
    display: flex;
}

.Card h1, h2{
    text-transform: uppercase;
}
.Card p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.Card p:last-child{
    margin-bottom: 0;
}
.Card p span{
    font-size:x-large;
    display: block;
    text-transform:capitalize;
}

.info{
    width: 65%;
    height: 100%;
}

.solAndTemp{
    margin-top: 25px;
    display: flex;
}
.temperatures{
    padding: 0 25px;
    margin-left: 15px;
    border-left: 3px solid white;
    margin-bottom: 25px;
}

.modelContainer{
    width: 35%;
    height: 100%;
    position: relative;
    padding-left: 30px;
}
#marsModel{
    position: absolute;
    width: 50rem;
    height: 32rem;
    top: -5rem;
    right: -20rem;
    padding: inherit;
}


@media screen and (max-width : 563px) {
    .solAndTemp{
        flex-direction: column;
    }
    .temperatures{
        border-left: none;
        border-top: 3px solid white;
        margin: 0;
        padding: 20px 0 20px 0;
        padding-left: 0;
    }
}

@media screen and (max-width : 892px) {
    #marsModel{
        right: -22rem;
    }
}

@media screen and (max-width: 814px) {
    .info{
        width: 70%;
    }
    .modelContainer{
        width: 30%;
        padding-left: 60px;
    }
    #marsModel{
        right: -26rem;
    }
}

@media screen and (max-width : 714px) {
    .info{
        width: 80%;
    }
    .modelContainer{
        width: 20%;
    }
    #marsModel{
        right: -30rem;
    }
}
@media screen and (max-width : 656px) {
    .info{
        width: 100%;
    }
    .modelContainer{
        display: none;
    }
}
