@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aldrich', sans-serif;
}
.footer{
  background-color: black;
  color: white;
  font-size:medium;
  text-align: center;
  padding-top:15px;
  overflow-x: hidden;
}
